.intro {
  text-align: center;
  font-family: fantasy;
}

p.flashy {
  color: red;
  background-color: pink;
  font-style: italic;
  width:40%;
}

p.flashy2 {
  color: red;
  background-color: pink;
  font-style: italic;
  text-align: right;
  width:-1000%
}

div.flashy {
  background-color:pink;
}

img.marginleft {
  float: right;
}

img.leftWrap {
  float:left;
}
