.intro {
  text-align: center;
  font-family: fantasy;
}

div.leftWrap {
  background-color: pink;
  color: red;
  font-style: italic;
}

div.leftWrap2 {
  background-color: pink;
  color: red;
  font-style: italic;
}

div.leftWrap3 {
  background-color: pink;
  color: red;
  font-style: italic;
}

div.rightWrap {
  background-color: pink;
  color: red;
  font-style: italic;
}

div.rightWrap2 {
  background-color: pink;
  color: red;
  font-style: italic;
}

div.flashy {
  background-color: pink;
}
